*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Outfit', sans-serif;
    background-color: #D6E6F8;
    height: 100vh;
    display: flex;
    justify-content: center ;
    align-items: center;    
    /* overflow: hidden; */
}
.container{
    width: 95vw;
    height: 95vh;
    background-color: #5C9CE5;
    border-radius: 40px;
    display: flex;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}
.sidebar{
    width: 30%;
    background: linear-gradient(180deg, #6BA4E9 0%, #5C9CE5 100%);
    padding: 40px;
    display: flex;
    position: relative;
    flex-direction: column;
    /* z-index: 1; */
    color: white;
}
.main-content{
    width: 70%;
    background-color: #F6F9FE;
    border-radius: 40px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-y: auto;
    overflow-x: hidden;
}

@media (max-width: 900px) {
    body{
        align-items: flex-start;
        padding: 20px;
        overflow: auto;
    }
    .container {
        flex-direction: column;
        height: auto;
        overflow-y: auto;
    }
    .sidebar {
        width: 100%;
        height: auto;
        padding-bottom: 100px;
    }
    .main-content {
        width: 100%;
    }
}


.top-header h2{
    color:#2C3E50;
    font-size: 1.25rem;
}

.upcoming-hours{
    background: white;
    padding: 25px;
    border-radius: 24px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.02);
}
.upcoming-hours h3{
    color:#2C3E50;
    font-size: 1rem;
    margin-bottom: 20px;
}
.weather-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.weather-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    color:#2C3E50;
}
.weather-item .time{
    font-size: 0.8rem;
    color: #8DA1B5;
}
.weather-item i{
    font-size: 1.2rem;
}
.ph.ph-sun:before {
    content: "\e472";
}
.chart-container{
    height: 100px;
    width: 100%;
}
.more-details h3{
    color: #2C3E50;
    font-size: 1.1rem;
    margin-bottom: 20px;
}
.details-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
@media (max-width: 1200px) {
    .details-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
.detail-card {
    background: white;
    padding: 20px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.02);
}
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #8DA1B5;
    font-size: 0.9rem;
}

.icon-badge {
    background: #5C9CE5;
    color: white;
    width: 24px;
    height: 24px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
.card-value {
    text-align: center;
}
.card-value span {
    font-size: 1.4rem;
    font-weight: 600;
    color: #2C3E50;
    margin-left: 5px;
}
.progress-labels{
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
    color: #8DA1B5;
    /* margin-bottom: 5px; */
}
.progress-bar{
    height: 8px;
    background: #F1F3F6;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}
.progress-fill{
    height: 100%;
    background-color: #5C9CE5;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
}
.weather-item .temp{
    font-weight: 600;
    font-size: 1.1rem;
}


.card-footer {
    margin-top: auto;
}

.diff-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 0.85rem;
    font-weight: 500;
}
.diff-badge.warmer {
    /* background-color: #ffe0e0;  */
    color: #d9534f;
}
.diff-badge.cooler {
    /* background-color: #e0f0ff;  */
    color: #5C9CE5;
}
.diff-badge.same {
    /* background-color: #f0f0f0; */
    color: #8DA1B5;
}
.sidebar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.search{
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 5px 10px;
    width: 70%;
}
.search-btn{
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
#city{
    background: transparent;
    border: none;
    width: 100%;
    padding: 5px;
    outline: none;
}
::placeholder {
  font-family: 'Outfit', sans-serif;
  color: white;
}
.location-info{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}
.temp-display h1{
    font-size: 6rem;
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
}
.condition {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1.5rem;
    margin-top: 10px;
}
#graphic{
    font-size: 100px;
}

.weather-visual{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
